@if (!peliculas) {
    <img src="loading/loading.gif" />
  
  }
  @else if (peliculas.length ===0) {
    <h1>no hay elementos para mostrar</h1>
    <img src="loading/sinInfo.jpg" />
  }
  @else {
    @for (pelicula of peliculas; track $index) {
      <div class="contenedor-pelicula">
        <div style="display: flex; flex-direction: row; gap: 10px;">
          <div>
            <img [src]="pelicula.poster" width="169" height="250" >
          </div>
          <div>
            <p>Pelicula {{$index+1}}: {{pelicula.titulo }}</p><br>
            <p>Lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" }}</p>
            <p>Precio: {{pelicula.precio | currency }}</p>
          </div>
        </div>
      </div>
    }
    
  }